@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;1,200;1,500;1,600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body{
	background-color: #dbdbdb;
}

.neon{
	text-shadow: 0 0 6px white,
				 0 0 12px white,
				 0 0 18px white;

}

#search{
	box-shadow: 1px 1px 6px black;
}

div.btn-container{
	width: 10%;
}

#searchBtn{
	width: 100%;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.card{
	margin: 15px;
	padding: 10px;
	box-shadow: 1px 1px 6px black;
}

.imgBerita {
	height: 150px;
	object-fit: cover;
}

@media screen and (max-width: 767px) {
	.imgBerita {
		height: 100px;
	}
}