@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;1,200;1,500;1,600&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.container{
	width: 95%;
	margin: 0 auto;
	margin-top: 30px;
}


#myTable{
	padding: 60px;
	padding-top: 15px;
}

h1{
	width: 90%;
	margin-bottom: 20px;
	font-size: 2.5rem;
}

table {
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

#myTable table tr.table{
	padding: 5px;
	border-bottom: solid 2px black;
}
#myTable table tr{
	border-bottom: solid 1px #dbdbdb;
}

#myTable table tr td{
	padding: 10px 5px;
}